.button-space {
    margin: 0 20px;
  }
  .small-text-input{
    width: 10%;
  }
   .select-box {
       width: 200px !important;
   }
   .next-button {
       float: right;
       width: 50px;
       height: 50px;
       font-size: 24px;
     }
     .pre-button{
         float: right;
         width: 50px;
         height: 50px;
         font-size: 24px;
       }
       .button-71.Add-employee-button {
         position: absolute;
         right: 0;
       }
   /* < !-- HTML !--><button class="button-71" role="button">Button 71</button> */
   @keyframes typing {
       from {
           width: 0
       }
       to {
           width: 100%
       }
   }
   .typing-animation {
       animation: typing 1s steps(25) forwards;
   }
   .button25 {
       background-color: rgba(105, 203, 228, 0.818);
       border: none;
       color: white;
       padding: 10px 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 10px;
       cursor: pointer;
       border-radius: 4px;
   }
   .Add-employee-button{
      background-color: rgba(105, 203, 228, 0.818);
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      border-radius: 4px;
   }
   .button25 :hover {
       background-color: rgba(163, 225, 209, 0.818);
   }
   .button25 :focus {
       outline: none;
   }
   /* Button with "Hide Data" text */
   .button25 [data-active="true"]::before {
       content: "Hide ";
   }
   /* Button with "Employee Data" text */
   .button25 [data-active="false"]::before {
       content: "Employee ";
   }
   /* Icon for "Hide Data" button */
   .button25 [data-active="true"]::after {
       content: "\2193";
       /* Down arrow unicode character */
       margin-left: 5px;
   }
   /* Icon for "Employee Data" button */
   .button25 [data-active="false"]::after {
       content: "\2191";
       /* Up arrow unicode character */
       margin-left: 5px;
   }
   .input2 {
       max-width: 200px;
       min-height: 40px;
       padding: 10px;
       font-family: 'Courier New', Courier, monospace;
       outline: none;
       background: #E8E8E8;
       box-shadow: 5px 5px 17px #C8C8C8,
                  -5px -5px 17px #FFFFFF;
       border: none;
       border-radius: 10px;
       transition: all .5s;
     }
     .input2:focus {
       background: #E8E8E8;
       box-shadow: inset 5px 5px 17px #C8C8C8,
                 inset -5px -5px 17px #FFFFFF;
     }
     .content {
       height: 100%; /* fill the remaining height between header and footer */
       padding-bottom: 1rem; /* adjust as needed to leave space for the footer */
     }
     .footer2 {
       /* position: absolute; */
       bottom: 0;
       left: 0;
       right: 0;
       padding: 1rem;
       background: green;
       color: white;
       font-weight: 500;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.2rem;
       height: 1rem; /* set the height of the footer */
     }
     @media only screen and (max-width: 768px) {
       .footer2 {
         padding: 30px;
       }
     }
     .radio-wrapper {
       display: flex;
       align-items: center;
       margin-top: 5px; /* Adjust the value to create the desired spacing */
     }
     .radio-wrapper .mx-1 {
       margin-right: 5px; /* Adjust the value to create the desired spacing */
     }
     .mx-1{
       margin-left: 4% !important;
     }
     .custom-file-upload {
      padding: 6px 12px;
      cursor: pointer;
      background-color: hsl(0, 0%, 100%);
      color: #000000;
      border-radius: 4px;
    }
    .custom-file-upload input {
      display: none;
    }
   .expfrom{
    width: 20%;
   }