body {
  background-color: rgb(225, 247, 248);
}
.employee-name{
  margin-right: 92%;
  margin-top: -0.1% !important;
  color:rgb(7, 74, 78);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.id, 
.salary,
.department{
  color: rgb(8, 108, 116);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
}

.id{
  margin-left: 20% !important;
  margin-top: -8% !important;
}

.department{
  margin-left: 5% !important;
  margin-top: -8% !important;
}

.salary{
  margin-left: 5%  !important;
  margin-top: -8% !important;
}



.edit-button{
box-shadow: 0 8px 16px 0 rgba(7, 238, 199, 0.2), 0 6px 20px 0 rgba(5, 99, 83, 0.2);
margin-top: -5% !important;
margin-right: 5%;
border-radius: 10px;
width: 3cm;
height: 1cm;
float: right;
font-size:medium;
font-family: cursive;
background-color: #209292;
color: #ffffff;
border: none;
outline: none;
cursor: pointer;
transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.edit-button:hover {
transform: scale(1.05);
box-shadow: 0 6px 12px rgba(7, 238, 199, 0.4), 0 4px 16px rgba(5, 99, 83, 0.4);
}

.edit-button:active {
transform: scale(0.95);
box-shadow: 0 2px 4px rgba(7, 238, 199, 0.4), 0 1px 6px rgba(5, 99, 83, 0.4);
}

.summary-container,
.overtime-container,
.attendance-container,
.payroll-container,
.EmployeeHours-container
{
  margin: 50%;
  margin-top: -14%;
  width: fit-content;
  height: 4cm !important;
  justify-content: center;
  align-items: center;
}

.summary-table-container,
.overtime-table-container,
.attendance-table-container,
.payroll-table-container{
  margin: 15%;
  margin-left: 16%;
  margin-top: -47%;
  text-align: center;
  white-space: nowrap;
}

.summary-table-container{
  margin-left: 16%;
}

.overtime-table-container{
  margin-left: 38%;
}

.attendance-table-container{
  margin-left: 18%;
}

.payroll-table-container{
margin-left: 35%;
background-color: #cce9eede;
padding: 10px;
border: none;
width: 40%;
height: fit-content;
justify-content: center;
border-radius: 5%;
display: flex;
flex-direction: column;
align-items: center;
}

.react-datepicker__input-container input {
  width:100% !important;
  height: 40px !important;
  font-size: 16px !important;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  text-align: center;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 70px;
  background-color: rgb(208, 212, 212);
  margin: 0 30px;
  vertical-align: middle;
}

.employee-details-container {
  margin: 15%;
  margin-top: 2%;
  padding: 10px;
  border: none;
  background-color: #cce9eede;
  width: 40%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-row {
  display: flex;
  margin-bottom: 10px;
}

.details-heading {
  font-weight: bold;
  margin-right: 10px;
  width: 180px;
}

.details-value {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.colon {
  font-size:large;
  font-weight: bold;
  margin-right: 10px;
}  

.normal-container{
  margin-left: 18%;
  margin-top: 5%;
  width: 75% !important;
  height: 2.6cm !important;
  border: none;
  background: linear-gradient(to top right, #209999 0%, #c9f1f1 100%);
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 18%;
  margin-top: 1%;
  padding: 10px;
  width: 75% !important;
  height: 2.5cm !important;
  border: none;
  background: linear-gradient(to top right, #209999 0%, #c9f1f1 100%);
}

thead th {
  background-color: #bedde4de;
  color:#5f9ea0;
  white-space: nowrap;
  text-align: center;
}

td{
  text-align: center;
}

.download-button,
.view-button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
}

.message {
  margin-bottom: -0.9rem;
  margin-left: 1.5em;
}

/* You can customize the styles based on your preferences */
.loading {
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  /* Add additional styles as needed */
}