body {
  background-color: rgb(255, 255, 255);
}

.files {
display: inline-block;
border-radius: 0.2cm;
/* margin-left: 10%; */
border: 1px solid rgb(191, 193, 194);
background-color: rgb(255, 255, 255) !important;
height: 20% !important;
width: 20% !important;
}


.edit-button{
margin-top: -2% !important;
margin-right: 24% !important;
border-radius: 10px;
width: 3cm;
height: 0.8cm;
float: right;
font-size:large;
font-family: serif;
background-color: rgb(159, 218, 236);
color: #ffffff;
border: none;
outline: none;
cursor: pointer;
transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.edit-button:hover {
transform: scale(1.05);
box-shadow: 0 8px 16px rgb(156, 215, 233), 0 4px 16px rgb(97, 182, 207);
}

.edit-button:active {
transform: scale(0.95);
box-shadow: 0 8px 16px rgb(156, 215, 233), 0 4px 16px rgb(97, 182, 207);
}

.summary-container,
.overtime-container,
.attendance-container,
.payroll-container,
.EmployeeHours-container,
.loginlogout-container
{
  margin: 50%;
  margin-top: 4%;
  margin-left: 45%;
  width: -moz-fit-content; 
  width: fit-content; 
  height: 4cm !important;
  justify-content: center;
  align-items: center;
}

.loginlogout-container{
width: 40%;
}


.summary-table-container,
.overtime-table-container,
.attendance-table-container,
.payroll-table-container,
.employeehours-table-container,
.loginlogout-table-container{
  margin: 15%;
  margin-left: 16%;
  margin-top: -47%;
  text-align: center;
  white-space: nowrap;
}

.summary-table-container{
  margin-left: 4%;
}

.overtime-table-container{
  margin-left: 20%;
}

.attendance-table-container{
  margin-left: 4%;
}

.employeehours-table-container{
margin-top: -38%;
margin-left: 8%;
}

.loginlogout-table-container{
margin-left: -40%;
margin-top: 1%;
}

.payroll-table-container{
margin-left: 32%;
background-color: #cce9eede;
padding: 10px;
border: none;
width: 40%;
height: auto;
justify-content: center;
border-radius: 5%;
display: flex;
flex-direction: column;
align-items: center;
}

.react-datepicker__input-container input {
  width:100% !important;
  height: 40px !important;
  font-size: 16px !important;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  text-align: center;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 70px;
  background-color: rgb(200, 201, 201);
  margin: 0 18px;
  vertical-align: middle;
}

.employee-details-container {
  margin: 2%;
  margin-top: 4%;
  padding: 10px;
  border: none;
  background-color: #cce9eede;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-row {
  display: flex;
  margin-bottom: 10px;
}

.details-heading {
  font-weight: bold;
  margin-right: 10px;
  width: 180px;
  font-family: serif;
}

.details-value {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: serif;
}

.colon {
  font-size:large;
  font-weight: bold;
  margin-right: 10px;
}  


.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -8.2%;
  /* margin-left: 32%; */
  margin-left: 22%;
  padding: 10px;
  width: 60% !important;
  height: 2.5cm !important;
  border: 1px solid rgb(191, 193, 194);
  border-radius: 0.2cm;
  font-family: serif !important;
}

.download-button,
.view-button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
}

.message {
  margin-bottom: -0.9rem;
  margin-left: 1.5em;
}

/* You can customize the styles based on your preferences */
.loading {
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  /* Add additional styles as needed */
}