.home,
.employeedetails,
.addemployee,
.dashboard,
.Deleteemp,
.AdminReg,
.Event,
.EmployeeExitForm,
.LeaveApproval{
  display: block;
  padding: 12px;
  margin-left: -10%;
  justify-content:center;
  align-items: center;
  color: rgb(255, 249, 249);
  font-size:large;
  font-family: serif;
  font-style: unset;
  white-space: nowrap;
}
.home:hover,
.employeedetails:hover,
.addemployee:hover,
.dashboard:hover,
.Deleteemp:hover,
.AdminReg:hover,
.Event:hover,
.EmployeeExitForm:hover,
.LeaveApproval:hover {
  color: #00869B;
}
.home:active,
.employeedetails:active,
.addemployee:active,
.dashboard:active,
.Deleteemp:active,
.AdminReg:active,
.Event:active,
.EmployeeExitForm:active,
.LeaveApproval:active
{
  color:rgb(255, 255, 255)!important;
  font-weight:bold !important;
  font-size:larger !important;
}