.home,
.employeedetails,
.addemployee,
.dashboard,
.Deleteemp,
.AdminReg{
  display: block; /* new property */
  padding: 10px;
  margin: 8% 0;
  color: rgb(255, 249, 249);
  font-size:medium;
  font-family: serif;
  font-style: unset;
  white-space: nowrap;
}
.home:hover,
.employeedetails:hover,
.addemployee:hover,
.dashboard:hover,
.Deleteemp:hover,
.AdminReg:hover {
  color: #085C69;
}
.home.active,
.employeedetails.active,
.addemployee.active,
.dashboard.active,
.Deleteemp.active,
.AdminReg .active
{
  color:rgb(255, 255, 255)!important;
  font-weight:bold !important;
  font-size:larger !important;
}