.landingPageButtons{
  background-color: #C2FBD7;
  border-radius: 60px;
  box-shadow: rgba(7, 239, 96, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  margin-top: 40%;
  margin-left: 10%;
  font-size: 12%;
  height: 90%;
  width: 70%;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
}
.landingPageButtons:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.smrft_logo {
  margin-top: 10px;
}