.container {
  position: relative;
  margin-left: 2%;
  margin-top: 2%;
  width: 40%;
  height: 100%;
  border-width: 2px;
  border-radius: 15%;
}

.In,
.Out {
  position: absolute; 
  transform: translateX(-50%);
  top: 116%; 
  left: 1%;
  border-color: #b9adad;
  font-size: 0.9rem;
  width:20% !important;
  height:12% !important;
  white-space: nowrap;
}

.In:hover {
  background-color: green;
  color: aliceblue;
}

.Out:hover {
  background-color: red;
  color: aliceblue;
}

video {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 2%;
  border-radius: 15%;
}

.screenshot {
  border: 1px solid rgb(3, 133, 83);
  border-width: 2px;
  border-radius: 50%;
  height: 12%;
  width: 12%;
  margin-left: 50%;
  margin-top: -50%;
}

.empdetails {
  margin-top: -20%;
  margin-left: 52%;
  font-weight: bold;
  font-size: 1rem;
}

.message {
  color: red;
  font-size: 1rem;
}
